body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  nav {
    padding: 0 2.5rem;
  }
  
  .content {
    min-height: calc(100vh - 64px - 248px);
  }
  
  .movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  .button-search {
    margin-top: 25px;
    margin-left: 25px;
  }
  
  .radio {
    margin-left: 150px;
  }